.center-box{
    max-width: 650px;
    min-width: 590px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.25);
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center-box h1 {
    color: #979595;
}

