.botao{
    text-decoration: none;
    color: #ffffff;
    border-radius: 14px;   
    text-align: center;
    margin-top: .5em;
}
.botao-voltar{
    padding: .4em;
    width: 20%;
    align-self: flex-start;
}
.botao-ver{
    width: 20%;
    text-decoration: none;
    border-radius: 14px; 
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botao:hover{
     color: #ffffff;
    }
    .primario {
        background: linear-gradient(91.76deg, #D42F43 0%, #D3823E 100%), #D9D9D9;
    }
    
    .secundario{
        background: linear-gradient(91.76deg, #A8A8A8 0%, #C4C4C4 100%), #D9D9D9;
    }
    .arredondado{
        width: 100%;
        font-size: 1.5em;
        border-radius: 63px;
        padding: .8em 0;
        
}